div.col-md-4{width: 231px;}
div.form-group.form-group-sm{width: 233px;}
form.form-horizontal{width: 222px;}
div.col-xs-6{padding-left: 5px;padding-right: 5px;width: 150px;}
div.col-xs-12{padding-left: 0px;}
label.col-sm-4 control-label{padding-left: 5px;padding-right: 5px;width: 95px;width: 67px;}
div.col-md-8{width: 75%;}
ul.pagination{margin-top: 5px;}
table.table.table-striped{margin-bottom: 5px;}